.cta-container {
  position: relative;
  top: -100px !important;
}

.footer-padding-left {
  padding-left: 75px;
}

.footer-padding-right {
  padding-right: 75px;
}

.border-gradient-outline {
  height: 60px;
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  border-radius: 100px;
  width: 253px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-gradient-fill {
  background: black;
  display: block;
  border-radius: 100px;
  height: 54px;
  width: 247px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-email-btn {
  font-family: "Rubik Light", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
}

.email-link:hover {
  font-family: "Rubik Bold", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
}

@media (max-width: 700px) {
}
