.social-media-links > * {
  color: #474747;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  text-decoration: none;
}

.social-media-links > *:last-child {
  margin-bottom: 0;
}

.subscribe-link {
  padding: 0 0 10px 0;
  -webkit-appearance: none;
  font-family: "open sans";
  font-size: 24px;
  border: none;
  background-color: #f5f7f8;
  border-bottom: 4px solid #0090d9;
  -webkit-appearance: none;
}

.subscribe-link:hover {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.icon-container div > *:not(:first-child) {
  margin-left: 10px;
}

@media (max-width: 700px) {
  .align-left {
    text-align: left;
  }

  .newletter-header {
    margin-top: 50px;
  }
}
