.social-media-links > * {
  color: #333;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-decoration: none;
}

.social-media-links > *:hover {
  background: linear-gradient(45deg, #6898AE 0%, #1DCA7F 100%);
  background-clip: text;
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}