.brand {
  color: #474747;
  text-decoration: none;
}

.nav-item {
  position: relative;
}

.nav-items > * {
  color: #474747;
  margin-left: 50px;
  text-decoration: none;
}

/* .nav-items >*:hover {
  border-bottom: 4px solid #474747;
  padding-bottom: 10px;
} */

.nav-items > *:after {
  content: '';
  display: block;
  border-bottom: 4px solid #474747;
  width: 0;
  position: absolute;
  padding-bottom: 10px;
  left: 0;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

.nav-items >*:hover:hover:after { 
  width: 100%; 
}