.brand {
  color: #474747;
  text-decoration: none;
}

.brand:hover {
  text-decoration: none;
}

.nav-item {
  color: #474747;
  margin-left: 50px;
  position: relative;
}

.nav-item:hover {
  text-decoration: none;  
}

.nav-item:after {
  content: '';
  display: block;
  border-bottom: 4px solid #474747;
  width: 0;
  position: absolute;
  left: 0;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

.nav-item:hover:after { 
  width: 100%; 
}