.brand {
  text-decoration: none;
}

.brand:hover {
  text-decoration: none;
}

.nav-item {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  margin-left: 50px;
  position: relative;
}

.nav-item:hover {
  text-decoration: none;
}

.nav-item:after {
  content: "";
  display: block;
  border-bottom: 4px solid #474747;
  width: 0;
  position: absolute;
  left: 0;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

.nav-item:hover:after {
  width: 100%;
}

/* Responsive */

@media screen and (max-width: 500px) {
  .desktop-contact-btn {
    display: none;
  }

  .mobile-contact-btn {
    margin: 50px auto 0 auto;
  }
}
