.brand {
  color: #474747;
  text-decoration: none;
}

.nav-items > * {
  color: #474747;
  margin-left: 50px;
  text-decoration: none;
}

.nav-items >*:hover {
  border-bottom: 4px solid #474747;
  padding-bottom: 10px;
}