.brand {
  text-decoration: none;
}

.brand:hover {
  text-decoration: none;
}

.nav-item {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  margin-left: 50px;
  position: relative;
}

.nav-item:hover {
  text-decoration: none;
}

.nav-item:after {
  content: "";
  display: block;
  border-bottom: 4px solid #474747;
  width: 0;
  position: absolute;
  left: 0;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

.nav-item:hover:after {
  width: 100%;
}

/* Responsive */

@media screen and (max-width: 850px) {
  .nav-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .nav-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .brand-container {
    margin-top: -118px !important;
  }

  .brand {
    font-size: 24px;
    line-height: 0.9 !important;
  }

  .header-container {
    margin-bottom: 60px !important;
    margin-top: 10px;
  }

  .brand-container {
    margin-top: -42px;
  }
}

@media screen and (max-width: 475px) {
  .nav-items {
    margin-top: -30px;
  }
}
