@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap');

body {
  color: #333333;
  font-family: 'open sans';
  font-size: 18px;
  overflow-x: hidden;
}

.card {
  align-items: center;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 270px;
  margin-top: auto;
  margin-top: 50px;
  text-decoration: none;
  width: 360px;
}

/* Shop Page */

.product-link {
  color: #333333;
  margin-bottom: 15px;
  text-decoration: none;
}

.product-link:last-child {
  margin-bottom: 0;
}

.book-link {
  color: #333333;
}