body {
  color: #333333;
  font-family: 'open sans';
  font-size: 18px;
  overflow-x: hidden;
}

.card {
  align-items: center;
  background: #D8D8D8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 260px;
  margin-top: auto;
  margin-top: 50px;
  text-decoration: none;
  width: 260px;
}

/* Shop Page */

.product-link {
  color: #333333;
  margin-bottom: 15px;
  text-decoration: none;
}

.product-link:last-child {
  margin-bottom: 0;
}