@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap');

/* Global */

body {
  color: #474747;
  font-family: 'open sans';
  font-size: 18px;
  overflow-x: hidden;
}

.regular-link {
  color: #345D7E;
  text-decoration: none;
}

a {
  color: #345D7E;
}

/* Home Page */

.card {
  align-items: center;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 270px;
  margin-top: auto;
  margin-top: 50px;
  text-decoration: none;
  width: 360px;
}

.card-icon {
  height: 100px;
}

/* Shop Page */

.product-link {
  /* color: #333333; */
  margin-bottom: 15px;
  text-decoration: none;
}

.product-link:last-child {
  margin-bottom: 0;
}