/* Global */
@font-face {
  font-family: "Rubik Light";
  src: local("Rubik Light"),
    url(../../assets/fonts/Rubik-Light.woff) format("woff");
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url(../../assets/fonts/Rubik-Regular.woff) format("woff");
}

@font-face {
  font-family: "Rubik Bold";
  src: local("Rubik Bold"),
    url(../../assets/fonts/Rubik-Bold.woff) format("woff");
}

*,
html {
  margin: 0;
  padding: 0;
}

*::selection {
  background: #ffff2d !important; /* WebKit/Blink Browsers */
}

body {
  font-family: "Rubik Light", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik Bold", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

.regular-link,
a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Colors */

.is-black {
  color: #0f0d16;
}

.is-black-bg {
  background: #0f0d16;
}

.is-white {
  color: #ffffff;
}

/* .is-big-fs {
  font-size: 48px;
} */

/* Font Size */

.is-main-header {
  font-family: "Rubik Bold", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 64px;
}

.is-big-header {
  font-family: "Rubik Bold", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 48px;
}

.is-medium-header {
  font-family: "Rubik Bold", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 36px;
}

.is-small-header {
  font-family: "Rubik Bold", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
}

.is-body-text {
  font-family: "Rubik Light", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
}

.has-box-shadow {
  box-shadow: 8px 8px 8px rgba(128, 128, 128, 0.1);
}

.column-2 {
  border-right: 1px solid #dae1e7;
  border-left: 1px solid #dae1e7;
  padding: 75px 0;
}

.is-gradient {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.is-animated-gradient {
  background: linear-gradient(
    to right,
    #e52e71 20%,
    #ff8a00 40%,
    #ff8a00 60%,
    #e52e71 80%
  );
  background-clip: text;
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorchange 3s linear infinite;
}

.regular-fw {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@keyframes colorchange {
  to {
    background-position: 200% center;
  }
}

/* Recent Work */

.recent-work-border-gradient-outline {
  height: 60px;
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  border-radius: 100px;
  width: 318px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recent-work-border-gradient-outline:hover {
  animation: colorchange 3s linear infinite;
  background: linear-gradient(
    to right,
    #e52e71 20%,
    #ff8a00 40%,
    #ff8a00 60%,
    #e52e71 80%
  );
  background-size: 200% auto;
}

.recent-work-border-gradient-fill-light {
  background: #ffffff;
  display: block;
  border-radius: 100px;
  height: 54px;
  width: 312px;
  color: #0f0d16;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dribbble-border-gradient-outline {
  height: 60px;
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  border-radius: 100px;
  width: 334px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dribbble-border-gradient-outline:hover {
  animation: colorchange 3s linear infinite;
  background: linear-gradient(
    to right,
    #e52e71 20%,
    #ff8a00 40%,
    #ff8a00 60%,
    #e52e71 80%
  );
  background-size: 200% auto;
}

.dribbble-border-gradient-fill-light {
  background: #ffffff;
  display: block;
  border-radius: 100px;
  height: 54px;
  width: 328px;
  color: #0f0d16;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-hover:hover {
  transition-property: transform;
  transform: scale(1.025);
}

/* About Page  */

.design {
  box-shadow: 10px 10px 20px #e0e0e0;
  height: 400px;
  width: 200px;
  transition-property: transform;
  transition-duration: 0.2s;
}

.design:hover {
  transform: scale(1.1);
}

/* Blog Page */

.post-title {
  font-size: 32px;
  font-weight: bold;
}
.post-subtitle {
  font-size: 14px;
  margin-bottom: 25px;
}

.tags {
  background: #f6f7f8;
  padding: 10px 25px;
}

.blog-image {
  width: 800px;
}

/* Project Page   */

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}

.project-item {
  border-radius: 5px;
  transition-property: transform;
  transition-duration: 0.2s;
}

.project-item:hover {
  transform: scale(1.025);
}

/* Responsive */

@media screen and (max-width: 1200px) {
  .skills-columns {
    border-radius: 0 !important;
    box-shadow: none;
    flex-wrap: wrap;
    padding: 75px 0;
  }

  .column {
    margin: 0 auto;
  }

  .column-2 {
    border-right: none;
    border-left: none;
  }

  /* Recent Work */

  .work-image-container {
    flex-wrap: wrap;
    justify-content: center !important;
  }

  .recent-work-header {
    font-size: 36px;
  }

  .recent-work-text {
    font-size: 24px !important;
  }

  .work-image-mobile {
    display: block;
    height: 200px !important;
    margin: 1em 0 !important;
    width: 350px !important;
  }
}

@media (min-width: 500px) {
  .mobile-contact-btn {
    display: none;
  }
}

@media (max-width: 500px) {
  .mobile-contact-btn {
    display: block;
  }

  .bio-thumbnail {
    height: 125px !important;
    margin: -50px auto 15px auto !important;
    width: 125px !important;
  }

  .bio-tagline {
    font-size: 48px !important;
    line-height: 1;
  }

  .bio-blurb {
    font-size: 24px !important;
  }

  /* About */

  .about-header-mobile {
    font-size: 36px;
  }

  .about-text-mobile {
    font-size: 24px !important;
    line-height: 1.5 !important;
  }
}
