/* Global */

@font-face {
  font-family: "Open Sans Heavy";
  src: local("Open Sans Heavy"),
    url(../../assets/fonts/OpenSans-ExtraBold.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url(../../assets/fonts/OpenSans-Regular.woff) format("woff");
}

@font-face {
  font-family: "Space Mono";
  src: local("Space Mono"),
    url(../../assets/fonts/SpaceMono-Regular.woff) format("woff");
}

@font-face {
  font-family: "Inter Black";
  src: local("Inter Black"),
    url(../../assets/fonts/Inter-Black.woff) format("woff");
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(../../assets/fonts/Inter-Regular.woff) format("woff");
}

@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto Mono"),
    url(../../assets/fonts/RobotoMono-Regular.woff) format("woff");
}

html {
  height: 100%;
}

*::selection {
  background: #ffff2d !important; /* WebKit/Blink Browsers */
}

body {
  color: #474747;
  font-family: "open sans";
  font-family: "Inter", "Open Sans";
  font-size: 18px;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter Black";
}

p {
  line-height: 2;
}

.regular-link,
a {
  color: #0090d9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Bio section */

.bio-content {
  /* display: flex;
  justify-content: center; */
  margin-top: 20vh;
}

.bio-button {
  align-items: center;
  background: #0090d9;
  border-radius: 5px;
  color: #fff;
  display: flex;
  font-size: 16px;
  justify-content: center;
  height: 50px;
  margin-bottom: 30vh;
  padding: 0 1em;
  text-decoration: none;
  width: auto;
  width: 125px;
}

.bio-button:hover {
  background: #189bdb;
  transition: 0.35s;
  text-decoration: none;
}

.card {
  align-items: center;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 215px;
  margin-top: auto;
  margin-top: 50px;
  text-decoration: none;
  width: 315px;
}

.card-icon {
  height: 100px;
}

/* About Page  */
.design-one {
  box-shadow: 10px 10px 20px #e0e0e0;
  height: 400px;
  width: 200px;
}

/* Blog Page */

.post-title {
  font-size: 32px;
  font-weight: bold;
}
.post-subtitle {
  font-size: 14px;
}

/* Project Page   */

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}

.project-item {
  border-radius: 5px;
  transition-property: transform;
  transition-duration: 0.2s;
}

.project-item:hover {
  transform: scale(1.025);
}

/* Shop Page */

.product-link {
  margin-bottom: 15px;
  text-decoration: none;
}

.product-link:last-child {
  margin-bottom: 0;
}

/* Hire Me Page */

.hire-me-submit-btn {
  -webkit-appearance: none;
  background: #0090d9;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 0;
}

.hire-me-submit-btn:hover {
  background: #189bdb;
  cursor: pointer;
  transition: 0.35s;
}

/* Responsive */

@media screen and (max-width: 850px) {
  .page-title {
    font-size: 24px !important;
    margin-top: 50px;
  }

  .bio-content {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .tagline {
    margin-bottom: 25px;
  }

  .bio-button {
    margin-bottom: 20vh;
  }

  .bio-thumbnail {
    height: 70px !important;
    margin-top: -50px;
    margin-bottom: 30px;
    width: 70px !important;
  }

  .tagline {
    font-size: 36px !important;
    max-width: 500px;
  }

  .subtitle {
    font-size: 14px !important;
    max-width: 500px;
  }

  .tech-credit {
    font-size: 12px !important;
    max-width: 500px;
  }

  .book-header {
    font-size: 24px !important;
  }

  .disclaimer {
    font-size: 14px !important;
    padding: 0 1rem;
    margin-bottom: 30px;
  }

  .book-photo {
    display: block;
    margin: 0 auto;
    width: 90% !important;
  }

  .book-text-container {
    margin-top: 50px;
    max-width: 525px;
  }

  .bye-cat {
    width: 90% !important;
  }

  /* Blog Page */

  .placeholder {
    width: 300px;
  }

  /* Projects Page */

  .project {
    margin-bottom: 50px;
  }

  .projects-disclaimer {
    margin-bottom: 50px;
  }

  .project:last-child {
    margin-bottom: 100px;
  }

  .project-item {
    width: 300px;
  }
}
