/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap'); */

/* Global */

@font-face {
  font-family: 'Open Sans Heavy';
  src: local('Open Sans Heavy'), url(../../assets/fonts/OpenSans-ExtraBold.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url(../../assets/fonts/OpenSans-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Space Mono';
  src: local('Space Mono'), url(../../assets/fonts/SpaceMono-Regular.woff) format('woff');
}

body {
  color: #474747;
  font-family: 'open sans';
  font-size: 18px;
  overflow-x: hidden;
}

.regular-link {
  color: #345D7E;
  text-decoration: none;
}

a {
  color: #345D7E;
}

/* Home Page */

.card {
  align-items: center;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 270px;
  margin-top: auto;
  margin-top: 50px;
  text-decoration: none;
  width: 360px;
}

.card-icon {
  height: 100px;
}

/* Shop Page */

.product-link {
  margin-bottom: 15px;
  text-decoration: none;
}

.product-link:last-child {
  margin-bottom: 0;
}