/* Global */

@font-face {
  font-family: 'Open Sans Heavy';
  src: local('Open Sans Heavy'), url(../../assets/fonts/OpenSans-ExtraBold.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url(../../assets/fonts/OpenSans-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Space Mono';
  src: local('Space Mono'), url(../../assets/fonts/SpaceMono-Regular.woff) format('woff');
}

body {
  color: #474747;
  font-family: 'open sans';
  font-size: 18px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.regular-link, a {
  color: #0090D9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Home Page */

/* Bio section */

.bio-button {
  align-items: center;
  background: #0090D9;
  border-radius: 5px;
  color: #fff;
  display: flex;
  font-size: 16px;
  justify-content: center;
  height: 50px;
  margin-bottom: 100px;
  text-decoration: none;
  width: 140px;
}

.bio-button:hover {
  background: #189BDB;
  transition: 0.35s;
  text-decoration: none;  
}

.card {
  align-items: center;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 215px;
  margin-top: auto;
  margin-top: 50px;
  text-decoration: none;
  width: 315px;
}

.card-icon {
  height: 100px;
}

/* Blog Page */

.post-title{
  font-size: 32px;
  font-weight: bold;
}
.post-subtitle {
  font-size: 14px;
}

/* Shop Page */

.product-link {
  margin-bottom: 15px;
  text-decoration: none;
}

.product-link:last-child {
  margin-bottom: 0;
}