.side-drawer {
  background: pink;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 400px;
}

.mobile-nav-item {
  margin: 1rem auto;
  padding-top: 1rem;
}

.mobile-nav-item:hover {
  font-weight: bold;
}

.mobile-nav-item:after {
  border-bottom: none;
}